python=/usr/bin/python3.12

legacy-peer-deps=true
unsafe-perm=true
strict-peer-dependencies=false
node-linker=hoisted
workspaces-update=false
engine-strict=true
prefer-dedupe=false
platform=linux
arch=arm64
only=production



